<h1>Task List</h1>
<label>Search Title </label>
<input [(ngModel)]="userInput" (keyup)="onSearch()" />

<label>Filter by Status: </label>
<select [(ngModel)]="selectedStatus">
  <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
</select>

<div *ngIf="tasks.length == 0">
  <p>No tasks available</p>
</div>

<ul>
  <li
    *ngFor="let item of tasks | statusFilter : selectedStatus"
    [appHoverHighlight]="'lightyellow'"
  >
    <app-task-detail
      [details]="item"
      (passValue)="triggerEvent($event)"
    ></app-task-detail>
  </li>
</ul>

<h3>Add New Task</h3>
<label>Title </label>
<input [formControl]="title" />
<br />
<label>Description </label>
<input [formControl]="description" />
<button (click)="onSubmit()">Add new Task</button>

<div *ngIf="title.invalid && title.touched">
  <div *ngIf="title.errors?.['required']">Title is required</div>
</div>
<div *ngIf="description.invalid && description.touched">
  <div *ngIf="description.errors?.['required']">Description is required</div>
</div>
