<div>
  <div>Title: <input [(ngModel)]="newTitle" /></div>
  <div>Description: <input [(ngModel)]="newDescription" /></div>
  <button (click)="addProduct()">Add new Product</button>
  <label>Search Product: </label
  ><input
    type="text"
    [formControl]="userInput"
    (keyup)="fetchProductByName()"
  />
</div>
<br />
<div *ngIf="!errorMessage">
  <div *ngFor="let product of arr">
    <app-product-item
      [dataSource]="product"
      (passUpdate)="updateProduct($event)"
      (passDelete)="deleteProduct($event)"
    ></app-product-item>
  </div>
</div>
